.thumbnail {
    width: 100%;
  }
  .thumbnail-row{
    position: relative;
  }
  .timestamp{
    color:white;
    position: absolute;
    bottom:10px;
    right: 10px;
    background-color: black;
  }
  .channel-picture {
    border-radius: 50px;
    width: 35px;
  }
  .video-title {
    font-size: 14px;
    line-height: 20px;
    font-family: Roboto;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .video-author,
  .video-stats {
    font-size: 12px;
    font-family: Roboto;
    color: grey;
    font-weight: thin;
    margin-bottom: 5px;
  }

  .video-desc {
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 0px;
    margin-top: 8px;
  }
  .video-preview-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
  }
  .video-author-tooltip{
    font-size: 14px;
    line-height: 20px;
    font-family: Roboto;
    font-weight: bold;
    margin-bottom: 10px;
  }
  @media (max-width:751px){
    .video-preview-grid{
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (min-width:1000px){
    .video-preview-grid{
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  @media (max-width:751px) and (min-width:999px){
    .video-preview-grid{
      grid-template-columns: 1fr 1fr;
    }
  }

  a:link,a:visited,a:hover,a:active { text-decoration: none;
  color:black }

  .tooltip{
    position: absolute;
    background-color: white;
    width:180px;
    padding: 10px 10px;
    left:10px;
    display: grid;
    align-items: center;
    grid-template-columns: 50px 1fr;
    column-gap: 5px;
    margin-top: 8px;
    opacity: 0;
    box-shadow: 1px 2px 12px rgba(99, 95, 95, 0.5);
    border-radius: 4px;
    pointer-events: none;
  }
  .channel-picture-tooltip{
    border-radius: 50px;
    width: 45px;
  }
  .tooltip-stats p{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-bottom: 4px;
  }
  .channel-picture-box-tooltip{
    position: relative;
  }
  .channel-picture-box-tooltip:hover .tooltip{
    opacity: 1;
  }